<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension 
		point="org.eclipse.ui.menus">
 <menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.jubula.client.ui.rcp.views.TestSuiteBrowser?after=additions">
    <menu
          label="%analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
</menuContribution>
<menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.jubula.client.ui.rcp.views.TestCaseBrowser?after=additions">
    <menu
          label="Analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
</menuContribution>
<menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.jubula.client.ui.rcp.views.TestResultTreeView?after=additions">
    <menu
          label="Analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
</menuContribution>
<menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.jubula.client.ui.rcp.editors.ObjectMappingEditor?after=additions">
    <menu
          label="Analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
</menuContribution>
<menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.jubula.client.ui.editors.TestResultViewer?after=additions">
    <menu
          label="Analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
</menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="popup:org.eclipse.jubula.client.ui.rcp.editors.CentralTestDataEditor?after=additions">
    <menu
          label="Analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
</menuContribution>
 <menuContribution
       allPopups="false"
       locationURI="popup:ComponentNameBrowserContextMenuID?after=additions">
    <menu
          label="Analyze">
       <dynamic
             class="org.eclipse.jubula.client.analyze.ui.contributionitems.ContextMenuContributionItem"
             id="org.eclipse.jubula.client.analyze.ui.dynamicMenu">
       </dynamic>
    </menu>
 </menuContribution>
 
</extension>
 <extension
       point="org.eclipse.ui.commands">
        <command
              defaultHandler="org.eclipse.jubula.client.analyze.ui.handlers.RunSelectionHandler"
              id="org.eclipse.jubula.client.analyze.ui.RunSelection"
              name="RunSelection">
           <commandParameter
                 id="org.eclipse.jubula.client.analyze.ui.RunSelection.IDParam"
                 name="IDParam">
           </commandParameter> 
        </command>
 </extension>
 <extension
       point="org.eclipse.search.searchResultViewPages">
    <viewPage
          class="org.eclipse.jubula.client.analyze.ui.internal.ResultPage"
          id="org.eclipse.jubula.client.analyze.ui.internal.resultPage"
          searchResultClass="org.eclipse.jubula.client.analyze.ui.internal.QueryResult">
    </viewPage>
 </extension>
 <extension
       point="org.eclipse.jubula.client.analyze.definition">
    <ResultRenderer
          ResultType="tableResultMap"
          id="tableRenderer"
          rendererClass="org.eclipse.jubula.client.analyze.ui.renderer.TableRenderer">
    </ResultRenderer>
    <ResultRenderer
          ResultType="ratioResult"
          id="ratio"
          rendererClass="org.eclipse.jubula.client.analyze.ui.renderer.RatioRenderer">
    </ResultRenderer>
    <ResultRenderer
          ResultType="chainList"
          id="chains"
          rendererClass="org.eclipse.jubula.client.analyze.ui.renderer.ChainRenderer">
    </ResultRenderer>
 </extension>
</plugin>
