<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.jubula.app.autrun"
         name="AUT Run"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.jubula.app.autrun.AutRunApplication">
         </run>
      </application>
   </extension>

</plugin>
