<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2013 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
         point="org.eclipse.jubula.client.core.functions">
      <function
            class="org.eclipse.jubula.client.core.functions.AddFunctionEvaluator"
            evaluator="local"
            name="add">
         <varArg
               defaultArgumentCount="2"
               type="number">
         </varArg>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.RoundFunctionEvaluator"
            evaluator="local"
            name="round">
         <parameter
               name="toRound"
               type="number">
         </parameter>
         <parameter
               name="precision"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.DivideFunctionEvaluator"
            evaluator="local"
            name="div">
         <parameter
               name="dividend"
               type="number">
         </parameter>
         <parameter
               name="divisor"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.MultiplyFunctionEvaluator"
            evaluator="local"
            name="mult">
         <varArg
               defaultArgumentCount="2"
               type="number">
         </varArg>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.SubtractFunctionEvaluator"
            evaluator="local"
            name="sub">
         <parameter
               name="minuend"
               type="number">
         </parameter>
         <parameter
               name="subtrahend"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.TruncateFunctionEvaluator"
            evaluator="local"
            name="trunc">
         <parameter
               name="toTruncate"
               type="number">
         </parameter>
         <parameter
               name="precision"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.NowEvaluator"
            evaluator="local"
            name="now">
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.ModifyDateEvaluator"
            evaluator="local"
            name="modifyDate">
         <parameter
               name="date"
               type="string">
         </parameter>
         <parameter
               name="offset"
               type="string">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.ParseDateEvaluator"
            evaluator="local"
            name="parseDate">
         <parameter
               name="dateString"
               type="string">
         </parameter>
         <parameter
               name="formatString"
               type="string">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.FormateDateEvaluator"
            evaluator="local"
            name="formatDate">
         <parameter
               name="date"
               type="string">
         </parameter>
         <parameter
               name="formatString"
               type="string">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.NodeAttributeEvaluator"
            evaluator="local"
            name="getNodeAttribute">
         <parameter
               name="attributeName"
               type="string">
         </parameter>
      </function>
      <function 
            class="org.eclipse.jubula.client.core.functions.CentralTestDataSetValueFunctionEvaluator" 
            evaluator="local" 
            name="getCentralTestDataSetValue">
         <parameter 
            name="dataSetName" 
            type="string">
         </parameter>
         <parameter 
            name="keyColumnName" 
            type="string">
         </parameter>
         <parameter 
            name="entryKey" 
            type="string">
         </parameter>
         <parameter 
            name="columnName" 
            type="string">
         </parameter>
     </function>
   <function
         class="org.eclipse.jubula.client.core.functions.StringReplaceAllFunctionEvaluator"
         evaluator="local"
         name="replaceAll">
      <parameter
            name="string"
            type="string">
      </parameter>
      <parameter
            name="regex"
            type="string">
      </parameter>
      <parameter
            name="replacement"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.UUIDFunctionEvaluator"
         evaluator="local"
         name="uuid">
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.RandomIntegerFunctionEvaluator"
         evaluator="local"
         name="randomInt">
      <parameter
            name="exclusiveMaxValue"
            type="number">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.Base64EncodeFunctionEvaluator"
         evaluator="local"
         name="base64Encode">
      <parameter
            name="string"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.Base64DecodeFunctionEvaluator"
         evaluator="local"
         name="base64Decode">
      <parameter
            name="string"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.SystemPropertyEvaluator"
         evaluator="local"
         name="ite_getSystemProperty">
      <parameter
            name="propertyName"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.EnvironmentPropertyEvaluator"
         evaluator="local"
         name="ite_getEnvironmentProperty">
      <parameter
            name="propertyName"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.TestUDVEvaluator"
         evaluator="local"
         name="ite_getTestUDV">
      <parameter
            name="envName"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.Substring"
         evaluator="local"
         name="substring">
      <parameter
            name="string"
            type="string">
      </parameter>
      <parameter
            name="from"
            type="number">
      </parameter>
      <parameter
            name="to"
            type="number">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.Trim"
         evaluator="local"
         name="trim">
      <parameter
            name="string"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.Concat"
         evaluator="local"
         name="concat">
      <varArg
            defaultArgumentCount="2"
            type="string">
      </varArg>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.OSGiVersionRangeIncludesFunctionEvaluator"
         evaluator="local"
         name="osgi_versionRange_includes">
      <parameter
            name="versionRange"
            type="string">
      </parameter>
      <parameter
            name="version"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.URLEncode"
         evaluator="local"
         name="urlEncode">
      <parameter
            name="string"
            type="string">
      </parameter>
   </function>
   <function
         class="org.eclipse.jubula.client.core.functions.URLDecode"
         evaluator="local"
         name="urlDecode">
      <parameter
            name="string"
            type="string">
      </parameter>
   </function>
   </extension>
</plugin>
