<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2004, 2011 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
 
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.jubula.launch.ui.tab.AutLaunchConfigurationTab"
            group="org.eclipse.pde.ui.launcher.WorkbenchLauncherTabGroup"
            id="org.eclipse.jubula.launch.rcp.ui.tab.aut"
            name="org.eclipse.jubula.launch.rcp.ui.AutTab">
         <placement
               after="org.eclipse.debug.ui.commonTab">
         </placement>
         <associatedDelegate
               delegate="org.eclipse.jubula.launch.rcp.launchDelegate">
         </associatedDelegate>
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.jubula.launch.rcp.ui.RcpAutLaunchConfigurationTabGroup"
            id="org.eclipse.jubula.launch.rcp.ui.AutTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
         <launchMode
               mode="ui_test">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.jubula.launch.rcp.RcpAutLaunchConfigurationDelegate"
            id="org.eclipse.jubula.launch.rcp.launchDelegate"
            modes="ui_test"
            name="Jubula UI Test AUT Launcher"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
      </launchDelegate>
   </extension>

</plugin>
