<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.jubula.app.autagent"
         name="AUT Agent"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.jubula.app.autagent.AutAgentApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.jubula.app.autagent"
            name="Stop AUT Agent">
         <property
               name="appName"
               value="Stop AUT Agent">
         </property>
      </product>
   </extension>

</plugin>
