<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2004, 2013 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
         id="dashboard"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.jubula.app.dashboard.DashboardApp">
         </run>
      </application>
   </extension>
   <extension
         id="dashboardHttpServer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.jubula.app.dashboard.DashboardHttpServerApp">
               <parameter
                  name="org.eclipse.jubula.app.dashboard.defaultPort"
                  value="60001">
            </parameter>
         </run>
      </application>
   </extension>
   <extension
         id="org.eclipse.jubula.app.dashboard.product"
         name="ITE - Functional Testing Dashboard"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.jubula.app.dashboard.dashboardApp"
            name="ITE - Functional Testing Dashboard">
      </product>
   </extension>

 <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="dashboard"
            themeId="org.eclipse.rap.design.example.business.theme"
            defaultEntrypointId="org.eclipse.jubula.app.dashboard.dashboard"
            title="ITE - Functional Testing Dashboard"
            id="org.eclipse.jubula.app.dashboard.branding">
         <presentationFactory
               defaultLayoutId="org.eclipse.rap.design.example.business.layout"
               id="org.eclipse.rap.design.example.business.factory"
               viewActionsVisible="false">
            <defaultStackPresentation
                  id="org.eclipse.rap.design.example.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>

   <extension
         point="org.eclipse.rap.ui.layouts">
      <layout
            id="org.eclipse.rap.design.example.business.layout"
            name="Business Layout Extended">
         <layoutSet
               class="org.eclipse.jubula.app.dashboard.logo.BusinessLogoInitializer"
               id="org.eclipse.rap.design.example.layoutset.logo.extended"
               name="Logo Overridding"
               overridesId="org.eclipse.rap.design.example.layoutset.logo">
         </layoutSet>
      </layout>
	</extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <!-- The following expressions containing "distinct" are Dashboard-specific - 
      Other plugins define the same ID with another expression --> 
      <definition
            id="org.eclipse.jubula.client.ui.reference.distinct.visibleWhen.TestResultToolbar">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.jubula.client.ui.editors.TestResultViewer">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.jubula.client.ui.reference.distinct.activeWhen.GoToTestResultError">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.jubula.client.ui.editors.TestResultViewer">
            </equals>
         </with>
      </definition>
   </extension>
</plugin>
