<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2013 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.bridge.NodeStructureBridge"
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.NodeStructureBridge"
            name="NodeStructureBridge">
      </structureBridge>
      <structureBridge
            class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.bridge.EditorContextStructureBridge"
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.EditorStructureBridge"
            name="EditorBridge">
      </structureBridge>
   </extension>
   <extension
         point="org.eclipse.mylyn.context.ui.bridges">
      <uiBridge
            class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.bridge.ContextUiBridge"
            contentType="org.eclipse.jubula.client.alm.mylyn.ui.bridge.content.node"
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.ContextUiBridge"
            name="ContextUiBridge">
      </uiBridge>
   </extension>
   <extension
         point="org.eclipse.mylyn.context.ui.startup">
      <startup
            class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.Activator$UiBridgeStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.viewAction"
            targetID="org.eclipse.jubula.client.ui.rcp.views.TestCaseBrowser">
         <action
               class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.action.FocusTestCaseBrowserAction"
               disabledIcon="icons/focus-disabled.gif"
               enablesFor="*"
               icon="icons/focus.gif"
               id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.testCaseBowserAction"
               label="Focus on active Task"
               menubarPath="mylyn"
               style="toggle"
               toolbarPath="mylyn">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.viewActionTSB"
            targetID="org.eclipse.jubula.client.ui.rcp.views.TestSuiteBrowser">
         <action
               class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.action.FocusTestCaseBrowserAction"
               disabledIcon="icons/focus-disabled.gif"
               enablesFor="*"
               icon="icons/focus.gif"
               id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.testSuiteBrowserAction"
               label="Focus on active Task"
               menubarPath="mylyn"
               style="toggle"
               toolbarPath="mylyn">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.mylyn.monitor.ui.user">
      <osActivityTimer
            class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.monitor.UserInteractionMonitor">
      </osActivityTimer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.objectContribution1"
            objectClass="org.eclipse.jubula.client.core.model.INodePO">
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.InterestIncrementAction"
               definitionId="org.eclipse.jubula.client.alm.mylyn.ui.bridge.commands.interest.increment"
               enablesFor="*"
               icon="icons/interest-increase.gif"
               id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.interest.increase.element"
               label="Mark as Landmark"
               menubarPath="group.reorganize"
               tooltip="tooltip">
         </action>
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.mylyn.context.core.context.active"
                     value="true">
               </systemProperty>
               <objectClass
                     name="org.eclipse.jubula.client.core.model.INodePO">
               </objectClass>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.objectContribution3"
            objectClass="org.eclipse.jubula.client.core.model.INodePO">
         <action
               class="org.eclipse.mylyn.internal.context.ui.actions.InterestDecrementAction"
               definitionId="org.eclipse.jubula.client.alm.mylyn.ui.bridge.commands.interest.decrement"
               enablesFor="*"
               icon="icons/interest-decrease.gif"
               id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.interest.remove.element"
               label="Remove from Context"
               menubarPath="group.reorganize"
               tooltip="Mark selected element as uninteresting">
         </action>
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.mylyn.context.core.context.active"
                     value="true">
               </systemProperty>
               <objectClass
                     name="org.eclipse.jubula.client.core.model.INodePO">
               </objectClass>
            </and>
         </visibility>
      </objectContribution>
      <viewerContribution
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.viewerContribution1"
            targetID="org.eclipse.jubula.client.ui.rcp.views.TestCaseBrowser">
         <action
               class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.action.ShowFilteredChildrenAction"
               enablesFor="1"
               icon="icons/browse-filtered.gif"
               id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.action.browse.filtered"
               label="Show Filtered Children (Alt+click)"
               menubarPath="group.reorganize">
         </action>
         <visibility>
            <systemProperty
                  name="org.eclipse.mylyn.context.core.context.active"
                  value="true">
            </systemProperty>
         </visibility>
      </viewerContribution>
      <viewerContribution
            id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.viewerContribution2"
            targetID="org.eclipse.jubula.client.ui.rcp.views.TestSuiteBrowser">
         <action
               class="org.eclipse.jubula.client.alm.mylyn.ui.bridge.action.ShowFilteredChildrenAction"
               enablesFor="1"
               icon="icons/browse-filtered.gif"
               id="org.eclipse.jubula.client.alm.mylyn.ui.bridge.action.browse.filtered"
               label="Show Filtered Children (Alt+click)"
               menubarPath="group.reorganize">
         </action>
         <visibility>
            <systemProperty
                  name="org.eclipse.mylyn.context.core.context.active"
                  value="true">
            </systemProperty>
         </visibility>
      </viewerContribution>
   </extension>
</plugin>
