<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2013 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jubula.client.views"
            class="org.eclipse.jubula.client.wiki.ui.views.DescriptionView"
            icon="icons/descriptionView.png"
            id="org.eclipse.jubula.client.wiki.ui.views.DescriptionView"
            name="Description">
      </view>
   </extension>
<extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.eclipse.jubula.client.ui.rcp.perspectives.SpecificationPerspective">
      <viewShortcut id="org.eclipse.jubula.client.wiki.ui.views.DescriptionView" />
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.jubula.client.ui.rcp.perspectives.ExecutionPerspective">
      <viewShortcut id="org.eclipse.jubula.client.wiki.ui.views.DescriptionView" />
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.jubula.client.ui.perspectives.ReportPerspective">
      <viewShortcut id="org.eclipse.jubula.client.wiki.ui.views.DescriptionView" />
    </perspectiveExtension>
   </extension>
<extension
      point="org.eclipse.ui.commands">
    <command
      categoryId="org.eclipse.jubula.client.ui.rcp.commands"
      id="org.eclipse.jubula.client.ui.rcp.commands.EditDescription"
      name="Edit Description" />
</extension>
<extension
      point="org.eclipse.ui.handlers">
    <handler
      class="org.eclipse.jubula.client.wiki.ui.handlers.EditDescriptionHandler"
      commandId="org.eclipse.jubula.client.ui.rcp.commands.EditDescription">
      <activeWhen>
        <and>
          <or>
            <with variable="activePartId">
              <equals value="org.eclipse.jubula.client.ui.rcp.editors.TestCaseEditor" />
            </with>
            <with variable="activePartId">
              <equals value="org.eclipse.jubula.client.ui.rcp.editors.TestSuiteEditor" />
            </with>
            <with variable="activePartId">
              <equals value="org.eclipse.jubula.client.ui.rcp.editors.TestJobEditor" />
            </with>
          </or>
          <count value="1" />
          <iterate
            ifEmpty="false"
            operator="or">
            <or>
              <instanceof value="org.eclipse.jubula.client.core.model.IExecTestCasePO" />
              <instanceof value="org.eclipse.jubula.client.core.model.IRefTestSuitePO" />
              <instanceof value="org.eclipse.jubula.client.core.model.ITestSuitePO" />
              <instanceof value="org.eclipse.jubula.client.core.model.ITestCasePO" />
              <instanceof value="org.eclipse.jubula.client.core.model.ITestJobPO" />
              <instanceof value="org.eclipse.jubula.client.core.model.ICondStructPO" />
              <instanceof value="org.eclipse.jubula.client.core.model.IAbstractContainerPO" />
            </or>
          </iterate>
        </and>
      </activeWhen>
    </handler>
        
</extension>
<extension
      point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="true"
           locationURI="menu:edit?before=JubulaEditSeparator1"> 
     <command
        commandId="org.eclipse.jubula.client.ui.rcp.commands.EditDescription"
        style="push">
      </command>
     </menuContribution>
     <menuContribution
           allPopups="true"
           locationURI="popup:org.eclipse.jubula.client.ui.rcp.editors.TestCaseEditor?before=editing">
     <command
        commandId="org.eclipse.jubula.client.ui.rcp.commands.EditDescription"
        style="push">
      </command>
     </menuContribution>
          <menuContribution
           allPopups="true"
           locationURI="popup:org.eclipse.jubula.client.ui.rcp.editors.TestSuiteEditor?before=editing">
     <command
        commandId="org.eclipse.jubula.client.ui.rcp.commands.EditDescription"
        style="push">
      </command>
     </menuContribution>
     <menuContribution
           allPopups="true"
           locationURI="popup:org.eclipse.jubula.client.ui.rcp.editors.TestJobEditor?before=editing">
     <command
        commandId="org.eclipse.jubula.client.ui.rcp.commands.EditDescription"
        style="push">
      </command>
     </menuContribution>
</extension>
</plugin>
