<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2004, 2010 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
 
<plugin>
   <extension
         point="org.eclipse.jubula.toolkit.common.toolkitsupport">
      <toolkit
            IToolkitProvider="org.eclipse.jubula.examples.extension.javafx.toolkit.provider.MyToolkitProvider"
            depends="org.eclipse.jubula.JavaFXToolkitPlugin"
            includes="null"
            isUserToolkit="true"
            level="toolkit"
            name="exampleJavaFXToolkitExtension"
            order="20"
            toolkitID="org.eclipse.jubula.examples.extension.javafx.toolkit.exampleJavaFXToolkitExtension">
      </toolkit>
   </extension>

</plugin>
