<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2004, 2011 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            class="org.eclipse.jubula.client.ui.perspective.ReportPerspective"
            icon="icons/perspective_report.gif"
            id="org.eclipse.jubula.client.ui.perspectives.ReportPerspective"
            name="%JubulaReporting" />
    </extension>
    <extension
          point="org.eclipse.ui.views">
        <view icon="icons/perspective_report.gif"
            class="org.eclipse.jubula.client.ui.views.TestresultSummaryView"
            category="org.eclipse.jubula.client.views"
            name="%JubulaTestresultSummaryView" id="org.eclipse.jubula.client.ui.views.TestresultSummaryView" />
      <view
			category="org.eclipse.jubula.client.views"
		    class="org.eclipse.jubula.client.ui.views.imageview.ImageView"
		    id="org.eclipse.jubula.client.ui.views.Image"
		    name="%ImageView"
		    restorable="true">
      </view>
      <view
            category="org.eclipse.jubula.client.views"
            class="org.eclipse.jubula.client.ui.views.logview.LogView"
            id="org.eclipse.jubula.client.ui.views.Log"
            name="%LogView"
            restorable="true">
      </view>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="toolbar:org.eclipse.jubula.client.ui.views.TestresultSummaryView?after=additions">
     <command
           commandId="org.eclipse.jubula.client.ui.commands.OpenTestResultViewer"
           style="push">
     </command>
     <command
           commandId="org.eclipse.jubula.client.ui.commands.AutoSizeColumnsTestResultSummaryView"
           style="push">
     </command>
    <command commandId="org.eclipse.ui.file.refresh" style="push">
    </command>
    <command
          commandId="org.eclipse.jubula.client.ui.commands.ExportTestResults"
          style="push">
    </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.jubula.client.ui.views.TestresultSummaryView?after=additions">
    <command
          commandId="org.eclipse.jubula.client.ui.commands.ExportTestResults"
          style="push">
    </command>
        </menuContribution>
        <menuContribution
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
				id="org.eclipse.jubula.client.ui.toolbar.TestResultToolbar">
				<command
					commandId="org.eclipse.jubula.client.ui.commands.GoToNextError"
					id="org.eclipse.jubula.client.ui.toolbar.TestResultToolbar.GoToNextError"
					style="push">
					<visibleWhen checkEnabled="false">
                        <reference
                          definitionId="org.eclipse.jubula.client.ui.reference.distinct.visibleWhen.TestResultToolbar">
                        </reference>
					</visibleWhen>
				</command>
				<command
					commandId="org.eclipse.jubula.client.ui.commands.GoToPreviousError"
					id="org.eclipse.jubula.client.ui.toolbar.TestResultToolbar.GoToPreviousError"
					style="push">
                    <visibleWhen
                        checkEnabled="false">
                        <reference
                          definitionId="org.eclipse.jubula.client.ui.reference.distinct.visibleWhen.TestResultToolbar">
                        </reference>
                    </visibleWhen>
				</command>
				<separator name="GlobalActions" visible="false">
				</separator>
			</toolbar>
		</menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commandImages">
  <image
        commandId="org.eclipse.jubula.client.ui.commands.OpenTestResultViewer"
        icon="icons/testResultTree.gif">
  </image>
    <image
        commandId="org.eclipse.jubula.client.ui.commands.AutoSizeColumnsTestResultSummaryView"
        icon="icons/arrangeTable.png">
    </image>
    <image
        commandId="org.eclipse.jubula.client.ui.commands.AddComment"
        icon="icons/addComment.gif">
    </image>
    <image
        commandId="org.eclipse.jubula.client.ui.commands.SelectDatabase"
        icon="icons/selectDB.gif">
    </image>
    <image commandId="org.eclipse.jubula.client.ui.commands.ExpandTreeItem"
        icon="icons/expand_single.png">
    </image>
    <image commandId="org.eclipse.jubula.client.ui.commands.ExpandBranch"
        icon="icons/expand.png">
    </image>
    <image commandId="org.eclipse.jubula.client.ui.commands.CollapseBranch"
        icon="icons/collapse.png">
    </image>
    <image commandId="org.eclipse.jubula.client.ui.commands.ShowSpecification"
            icon="icons/showSpecification.gif">
    </image>
    <image
        commandId="org.eclipse.jubula.client.ui.commands.OpenSpecification"
        icon="icons/openSpecification.gif">
    </image>
    <image
        commandId="org.eclipse.jubula.client.ui.commands.GoToNextError"
        icon="icons/goToNextError.gif">
     </image>
     <image
        commandId="org.eclipse.jubula.client.ui.commands.GoToPreviousError"
        icon="icons/goToPreviousError.gif">
  </image>
  <image
        commandId="org.eclipse.jubula.client.ui.commands.monitoring.OpenMonitoringReport"
        icon="icons/metrik.png">
  </image>
  <image
        commandId="org.eclipse.jubula.client.ui.commands.ExportTestResults"
        icon="icons/exportTestResults.gif">
  </image>
  <image
        commandId="org.eclipse.jubula.client.ui.commands.SaveImageAs"
        icon="icons/saveAsNew.gif">
  </image>
  <image
        commandId="org.eclipse.jubula.client.ui.commands.SaveLogAs"
        icon="icons/saveAsNew.gif">
  </image>
    </extension>
    <extension point="org.eclipse.core.expressions.propertyTesters">
    	    <propertyTester
	        class="org.eclipse.jubula.client.ui.propertytester.TestResultSummaryPropertyTester"
	        id="org.eclipse.jubula.client.ui.rcp.propertytester.TestResultSummary"
	        namespace="org.eclipse.jubula.client.ui.propertytester.TestResultSummary"
	        properties="hasMonitoringData, hasTestResultDetails, hasPendingALMReport"
	        type="org.eclipse.jubula.client.core.model.ITestResultSummaryPO">
  		</propertyTester>
	</extension>
    <extension
          point="org.eclipse.ui.handlers">
  <handler
        class="org.eclipse.jubula.client.ui.handlers.open.OpenTestResultViewerHandler"
        commandId="org.eclipse.jubula.client.ui.commands.OpenTestResultViewer">
  </handler>
  <handler
        class="org.eclipse.jubula.client.ui.handlers.AutoSizeColumnsTestResultSummaryViewHandler"
        commandId="org.eclipse.jubula.client.ui.commands.AutoSizeColumnsTestResultSummaryView">
  </handler>
	<handler
		class="org.eclipse.jubula.client.ui.handlers.ExpandTreeItemHandler"
		commandId="org.eclipse.jubula.client.ui.commands.ExpandTreeItem">
		<activeWhen>
			<and>
				<count value="+" />
				<iterate>
					<or>
						<instanceof value="org.eclipse.jubula.client.core.model.INodePO" />
						<instanceof value="org.eclipse.jubula.client.core.model.TestResultNode" />
						<instanceof	value="org.eclipse.jubula.client.core.model.IObjectMappingCategoryPO" />
						<instanceof	value="org.eclipse.jubula.client.core.model.IObjectMappingAssoziationPO" />
						<instanceof	value="org.eclipse.jubula.client.core.model.IReusedProjectPO" />
					</or>
				</iterate>
			</and>
		</activeWhen>
	</handler>
    <handler
		class="org.eclipse.jubula.client.ui.handlers.ExpandBranchHandler"
		commandId="org.eclipse.jubula.client.ui.commands.ExpandBranch">
		<activeWhen>
			<and>
				<count value="+" />
				<iterate>
					<or>
						<instanceof value="org.eclipse.jubula.client.core.model.INodePO" />
						<instanceof value="org.eclipse.jubula.client.core.model.TestResultNode" />
						<instanceof	value="org.eclipse.jubula.client.core.model.IObjectMappingCategoryPO" />
						<instanceof	value="org.eclipse.jubula.client.core.model.IObjectMappingAssoziationPO" />
						<instanceof	value="org.eclipse.jubula.client.core.model.IReusedProjectPO" />
					</or>
				</iterate>
			</and>
		</activeWhen>
	</handler>
	<handler
        class="org.eclipse.jubula.client.ui.handlers.CollapseBranchHandler"
        commandId="org.eclipse.jubula.client.ui.commands.CollapseBranch">
        <activeWhen>
            <and>
                <count value="+" />
                <iterate>
                    <or>
                        <instanceof value="org.eclipse.jubula.client.core.model.INodePO" />
                        <instanceof value="org.eclipse.jubula.client.core.model.TestResultNode" />
                        <instanceof value="org.eclipse.jubula.client.core.model.IObjectMappingCategoryPO" />
                        <instanceof value="org.eclipse.jubula.client.core.model.IObjectMappingAssoziationPO" />
                        <instanceof	value="org.eclipse.jubula.client.core.model.IReusedProjectPO" />
                    </or>
                </iterate>
            </and>
        </activeWhen>
    </handler>
        <handler
            class="org.eclipse.jubula.client.ui.handlers.RefreshTestresultsHandler"
            commandId="org.eclipse.ui.file.refresh">
            <activeWhen>
                <with variable="activePartId">
                    <equals
                        value="org.eclipse.jubula.client.ui.views.TestresultSummaryView">
                    </equals>
                </with>
            </activeWhen>
        </handler>
        <handler
        class="org.eclipse.jubula.client.ui.handlers.GoToNextTestResultErrorHandler"
        commandId="org.eclipse.jubula.client.ui.commands.GoToNextError">
     <activeWhen>
        <reference
              definitionId="org.eclipse.jubula.client.ui.reference.distinct.activeWhen.GoToTestResultError">
        </reference>
     </activeWhen>
  </handler>
  <handler
        class="org.eclipse.jubula.client.ui.handlers.GoToPreviousTestResultErrorHandler"
        commandId="org.eclipse.jubula.client.ui.commands.GoToPreviousError">
     <activeWhen>
        <reference
              definitionId="org.eclipse.jubula.client.ui.reference.distinct.activeWhen.GoToTestResultError">
        </reference>
     </activeWhen>
  </handler>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
        <category
            id="org.eclipse.jubula.client.ui.commands"
            name="%JubulaCommandCategory">
        </category>
        <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.OpenTestResultViewer"
            name="%OpenTestResultViewer">
          <commandParameter
	        id="org.eclipse.jubula.client.ui.commands.OpenTestResultViewer.parameter.summaryId"
	        name="summaryId"
	        optional="true" />
	      <commandParameter
	        id="org.eclipse.jubula.client.ui.commands.OpenTestResultViewer.parameter.resultNode"
	        name="resultNode"
	        optional="true" />
        </command>
      <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.AutoSizeColumnsTestResultSummaryView"
            name="%AutoSizeColumnsTestResultSummaryView">
      </command>
      <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.AddComment"
            name="%AddComment">
      </command>
      <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.ToggleRelevance"
            name="Toggle relevance">
      </command>
        <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.SelectDatabase" name="%SelectDatabase">
           <commandParameter 
                 id="org.eclipse.jubula.client.ui.selectDatabaseParameter"
                 name="explicitSelection"
                 optional="true">
           </commandParameter>
        </command>
        <command
			categoryId="org.eclipse.jubula.client.ui.commands"
			id="org.eclipse.jubula.client.ui.commands.ExpandTreeItem" name="%Expand">
		</command>
        <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.ExpandBranch" name="%ExpandBranch">
        </command>
        <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.CollapseBranch" name="%CollapseBranch">
        </command>
		<command
			categoryId="org.eclipse.jubula.client.ui.commands"
			id="org.eclipse.jubula.client.ui.commands.ShowSpecification"
			name="%FindSpecTestCase" />
		<command
		    categoryId="org.eclipse.jubula.client.ui.commands"
		    id="org.eclipse.jubula.client.ui.commands.OpenSpecification"
		    name="%OpenSpecification">
  </command>
		<command
		    categoryId="org.eclipse.jubula.client.ui.commands"
		    id="org.eclipse.jubula.client.ui.commands.GoToNextError"
		    name="Go to Next Error">
		  </command>
		  <command
		    categoryId="org.eclipse.jubula.client.ui.commands"
		    id="org.eclipse.jubula.client.ui.commands.GoToPreviousError"
		    name="Go to Previous Error">
		  </command>
    <command
          categoryId="org.eclipse.jubula.client.ui.commands"
          id="org.eclipse.jubula.client.ui.commands.monitoring.OpenMonitoringReport"
          name="Open Monitoring Report">
    </command>
    <command
          id="org.eclipse.jubula.client.ui.commands.ExportTestResults"
          name="%ExportTestResultsCommandName">
    </command>
    <command
		    categoryId="org.eclipse.jubula.client.ui.commands"
		    id="org.eclipse.jubula.client.ui.commands.SaveImageAs"
		    name="%SaveImageAs">
	</command>
	<command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.ui.commands.SaveLogAs"
            name="%SaveLogAs">
    </command>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jubula.client.ui.rcp.preferences.mainPrefPage"
            class="org.eclipse.jubula.client.ui.preferences.DatabaseConnectionPreferencePage"
            id="org.eclipse.jubula.client.ui.rcp.preferences.DatabaseConnectionPrefPage"
            name="%DatabaseConnectionPreferencePageName">
      </page>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.jubula.client.ui.editors.TestResultViewer"
            default="false"
            icon="icons/testResultTree.gif"
            id="org.eclipse.jubula.client.ui.editors.TestResultViewer"
            name="Test Result Viewer">
      </editor>
    </extension>
    <extension
          point="org.eclipse.ui.decorators">
        <decorator adaptable="false"
            class="org.eclipse.jubula.client.ui.provider.labelprovider.decorators.ResultDecorator"
            id="org.eclipse.jubula.client.core.model.TestResultNode" label="Result Decorator"
            lightweight="true" location="REPLACE" state="true">
            <description>
                This decorator decorates the result of tests.
            </description>
            <enablement>
                <objectClass
                    name="org.eclipse.jubula.client.core.model.TestResultNode" />
            </enablement>
        </decorator>
      <decorator
            class="org.eclipse.jubula.client.ui.provider.labelprovider.decorators.TestResultDurationDecorator"
            id="org.eclipse.jubula.client.ui.rcp.decorators.resultDurationDecorator"
            label="Test Result Duration Decorator"
            lightweight="true"
            state="true">
                <enablement>
                    <objectClass
                        name="org.eclipse.jubula.client.core.model.TestResultNode" />
                </enablement>
         <description>
            Adds the execution duration to the label of a Test Result.
         </description>
      </decorator>
      <decorator
            class="org.eclipse.jubula.client.ui.provider.labelprovider.decorators.TestResultParametersDecorator"
            id="org.eclipse.jubula.client.ui.rcp.decorators.resultParameterDecorator"
            label="Test Result Parameter Decorator"
            lightweight="true"
            state="true">
                <enablement>
                    <objectClass
                        name="org.eclipse.jubula.client.core.model.TestResultNode" />
                </enablement>
         <description>
            Adds parameter values to the label of a Test Result.
         </description>
      </decorator>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.eclipse.jubula.client.ui.preferences.PreferenceInitializer">
       </initializer>
    </extension>
    <extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.eclipse.jubula.client.core.model.TestResultNode"
			class="org.eclipse.jubula.client.ui.adapter.TestResultNodeAdapterFactory">
			<adapter type="org.eclipse.jubula.client.ui.views.imageview.ImageProvider" />
		</factory>
				<factory adaptableType="org.eclipse.jubula.client.core.model.TestResultNode"
			class="org.eclipse.jubula.client.ui.adapter.TestResultNodeAdapterFactory">
			<adapter type="org.eclipse.ui.views.properties.IPropertySource" />
		</factory>
		<factory
			adaptableType="org.eclipse.jubula.client.core.model.TestResultNode"
			class="org.eclipse.jubula.client.ui.adapter.TestResultNodeAdapterFactory">
			<adapter type="org.eclipse.jubula.client.core.model.TestResultNode" />
		</factory>
        <factory
            adaptableType="org.eclipse.jubula.client.core.model.ITestResultSummaryPO"
            class="org.eclipse.jubula.client.ui.adapter.MonitoringSourceAdapterFactory">
           <adapter type="org.eclipse.ui.views.properties.IPropertySource" />
        </factory>
        <factory adaptableType="org.eclipse.jubula.client.core.model.TestResultNode"
            class="org.eclipse.jubula.client.ui.adapter.TestResultNodeAdapterFactory">
            <adapter type="org.eclipse.jubula.client.ui.views.logview.LogProvider" />
        </factory>
	</extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="org.eclipse.jubula.client.ui.contexts.ImageViewDisplaysImage"
             name="org.eclipse.jubula.client.ui.contexts.ImageViewDisplaysImage"
             parentId="org.eclipse.ui.contexts.dialogAndWindow">
       </context>
       <context
             id="org.eclipse.jubula.client.ui.contexts.LogViewDisplaysLog"
             name="org.eclipse.jubula.client.ui.contexts.LogViewDisplaysLog"
             parentId="org.eclipse.ui.contexts.dialogAndWindow">
       </context>
    </extension>
</plugin>
