<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2004, 2010 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="GDCheatSheets.category1"
            name="Functional Testing">
      </category>
      <cheatsheet
            category="GDCheatSheets.category1"
            composite="true"
            contentFile="$nl$/resources/compositeCheatSheet001.xml"
            id="GDCheatSheets.cheatsheet001"
            name="001 First Steps Cheat Sheet">
         <description>
            Cheat sheet for creating a first test.
         </description>
      </cheatsheet>
      <cheatsheet
            category="GDCheatSheets.category1"
            composite="true"
            contentFile="$nl$/resources/compositeMenu.xml"
            id="GDCheatSheets.cheatsheetmenu"
            name="002 Learning to test menus">
         <description>
            Cheat sheet to learn how to test menus.
         </description>
      </cheatsheet>
      <cheatsheet
            category="GDCheatSheets.category1"
            composite="true"
            contentFile="$nl$/resources/compositeTree.xml"
            id="GDCheatSheets.cheatsheettree"
            name="003 Learning to test trees">
         <description>
            Cheat sheet to learn how to test trees.
         </description>
      </cheatsheet>
      <cheatsheet
            category="GDCheatSheets.category1"
            composite="true"
            contentFile="$nl$/resources/compositeContextMenu.xml"
            id="GDCheatSheets.cheatsheetcontextmenu"
            name="004 Learning to test context menus">
         <description>
            Cheat sheet to learn how to test context menus.
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="GDCheatSheets.category1"
            composite="true"
            contentFile="$nl$/resources/eventhandler/compositeEventHandler.xml"
            id="GDCheatSheets.cheatsheet243264653"
            name="005 Adding Event Handlers to Tests">
         <description>
            This cheat sheet shows you how to work with Event Handlers in your tests.
         </description>
      </cheatsheet>
      <cheatsheet
            category="GDCheatSheets.category1"
            composite="true"
            contentFile="$nl$/resources/compositeCheatSheetJavaFX.xml"
            id="org.eclipse.jubula.client.ua.cheatsheets.cheatsheet1128118092"
            name="006 Writing your first test with JavaFX">
         <description>
            First steps for JavaFX testing
         </description>
      </cheatsheet>
   </extension>
</plugin>
