<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2004, 2012 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->
<plugin>
   <extension
         point="org.eclipse.jubula.client.teststyle.definition">
      <category
            description="Standard Rules"
            name="Standard Rules">
         <check
               activeByDefault="true"
               class="org.eclipse.jubula.client.teststyle.impl.standard.checks.TestSuiteHasAUT"
               defaultSeverity="ERROR"
               description="Each Test Suite should be assigned to an AUT"
               id="org.eclipse.jubula.client.teststyle.impl.standard.checks.testSuiteHasAUT"
               name="Test Suite has AUT defined">
            <contexts><TestSuites id="TestSuiteContext" /></contexts>
            <attributes></attributes>
         </check>
         <check
               activeByDefault="true"
               class="org.eclipse.jubula.client.teststyle.impl.standard.checks.TestSuiteNotEmpty"
               defaultSeverity="ERROR"
               description="Each Test Suite should reference at least one Test Case"
               id="org.eclipse.jubula.client.teststyle.impl.standard.checks.testSuiteNotEmpty"
               name="Test Suite references at least one Test Case">
            <contexts><TestSuites id="TestSuiteContext" /></contexts>
            <attributes></attributes>
         </check>
      </category>
      <category
            description="ToDo Rules"
            name="ToDo Rules">
            <check
               activeByDefault="false"
               class="org.eclipse.jubula.client.teststyle.impl.standard.checks.TodoCheck"
               defaultSeverity="INFO"
               description="%check.todo.description"
               id="org.eclipse.jubula.client.teststyle.impl.standard.checks.TodoCheck"
               name="%check.todo.name">
            <contexts>
            <ExecTestCase
                  id="ExecTestCaseContext">
            </ExecTestCase>
            <Caps
                  id="CapContext">
            </Caps>
            <EventHandler
                  id="EventHandlerContext">
            </EventHandler>
            <TestSuites
                  id="TestSuiteContext">
            </TestSuites>
            <TestJobs
                  id="TestJobContext">
            </TestJobs>
            <SpecTestCases
                  id="SpecTestCaseContext">
            </SpecTestCases>
            <ObjectMappingCategory
                  id="ObjectMappingCategoryContext">
            </ObjectMappingCategory>
            <Categories
                  id="CategoryContext">
            </Categories>
            <Comment
                  id="CommentContext">
            </Comment>
            </contexts>
            <attributes>
               <Attribute
                     defaultValue="#TODO"
                     description="%check.todo.annotation.description"
                     name="annotation">
               </Attribute>
               <Attribute
                     defaultValue="true"
                     description="%check.todo.case.sensitive.description"
                     name="caseSensitive">
               </Attribute>
               <Attribute
                     defaultValue="false"
                     description="%check.todo.inactive.nodes.description"
                     name="inactive">
               </Attribute>
            </attributes>
         </check>
      </category>
   </extension>

</plugin>
