<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2014 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>
    <extension point="org.eclipse.ui.commands">
        <command
          categoryId="org.eclipse.jubula.client.ui.rcp.commands"
          id="org.eclipse.jubula.client.api.ui.commands.OMExportMappingCommand"
          name="Export Object Mapping for use in API" />
    </extension>
      
    <extension
      id="jubula.ComponentNameBrowserHandler"
      name="ComponentNameBrowserHandler"
      point="org.eclipse.ui.handlers">
        <handler
          class="org.eclipse.jubula.client.api.ui.handlers.ExportObjectMappingHandler"
          commandId="org.eclipse.jubula.client.api.ui.commands.OMExportMappingCommand">
        </handler>
    </extension>
    
    <extension point="org.eclipse.ui.menus">
        <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.jubula.client.ui.rcp.editors.ObjectMappingEditor?after=additions">
            <separator
                name="org.eclipse.jubula.client.ui.rcp.editors.ObjectMappingEditor.separatorExport"
                visible="true">
            </separator>
            <command
              commandId="org.eclipse.jubula.client.api.ui.commands.OMExportMappingCommand"
              style="push">
            </command>
        </menuContribution>
    </extension>
    
    <extension point="org.eclipse.ui.commandImages">
        <image
          commandId="org.eclipse.jubula.client.api.ui.commands.OMExportMappingCommand"
          disabledIcon="platform:/plugin/org.eclipse.jubula.client.api.ui/icons/exportOM_disabled.gif"
          icon="platform:/plugin/org.eclipse.jubula.client.api.ui/icons/exportOM.gif" />
    </extension>
</plugin>
