/* Turn off list bullets */
ul.htmlReport li {
	list-style: none;
}

ul.htmlReport,ul.htmlReport ul,ul.htmlReport li {
	margin: 0;
	padding: 0;
}

/* This controls the indent for each sublist */
ul.htmlReport ul {
	padding-left: 20px;
}

@media screen { /* Provide space for our own "bullet" inside the link */
	ul.htmlReport li a {
		padding-left: 20px;
		text-decoration: none;
	}
	/* Show "bullets" in the links, depending on the class of the
     LI that the link's in */
	ul.htmlReport li.htmlReportOpen a {
		background: url(minus.gif) center left no-repeat;
	}
	ul.htmlReport li.htmlReportClosed a {
		background: url(plus.gif) center left no-repeat;
	}
	ul.htmlReport li.htmlReportbullet a {
		background: url(bullet.gif) center left no-repeat;
	}
}

@media print { /* Disable link decoration */
	ul.htmlReport li a {
		text-decoration: none;
	}
	/* Show "content-bullets" in the links, depending on the class of the
    LI that the link's in */
	ul.htmlReport  li.htmlReportOpen a[href ^="#"] big :before {
		content: "[\2013] ";
	}
	ul.htmlReport li.htmlReportClosed a[href ^="#"] big :before {
		content: "[+] ";
	}
	ul.htmlReport li.htmlReportbullet a[href ^="#"] big :before {
		content: "[\2013] ";
	}
}

/* Actually show and hide sublists */
ul.htmlReport li.htmlReportOpen ul {
	display: block;
}

ul.htmlReport li.htmlReportClosed ul {
	display: none;
}