<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2004, 2010 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>
   <extension-point id="org.eclipse.jubula.client.core.databaseVersionErrorHandler" name="Database Version Error Handler" schema="schema/org.eclipse.jubula.client.core.databaseVersionErrorHandler.exsd"/>
   <extension-point id="org.eclipse.jubula.client.core.functions" name="Jubula Functions" schema="schema/org.eclipse.jubula.client.core.functions.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.jubula.client.core.preferences.database.DatabaseConnectionInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.jubula.client.core.functions">
      <function
            class="org.eclipse.jubula.client.core.functions.AddFunctionEvaluator"
            evaluator="local"
            name="add">
         <varArg
               defaultArgumentCount="2"
               type="number">
         </varArg>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.RoundFunctionEvaluator"
            evaluator="local"
            name="round">
         <parameter
               name="toRound"
               type="number">
         </parameter>
         <parameter
               name="precision"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.DivideFunctionEvaluator"
            evaluator="local"
            name="div">
         <parameter
               name="dividend"
               type="number">
         </parameter>
         <parameter
               name="divisor"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.MultiplyFunctionEvaluator"
            evaluator="local"
            name="mult">
         <varArg
               defaultArgumentCount="2"
               type="number">
         </varArg>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.SubtractFunctionEvaluator"
            evaluator="local"
            name="sub">
         <parameter
               name="minuend"
               type="number">
         </parameter>
         <parameter
               name="subtrahend"
               type="number">
         </parameter>
      </function>
      <function
            class="org.eclipse.jubula.client.core.functions.TruncateFunctionEvaluator"
            evaluator="local"
            name="trunc">
         <parameter
               name="toTruncate"
               type="number">
         </parameter>
         <parameter
               name="precision"
               type="number">
         </parameter>
      </function>
   </extension>

</plugin>
