<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2004, 2010 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>
   <extension-point id="org.eclipse.jubula.client.core.databaseVersionErrorHandler" name="Database Version Error Handler" schema="schema/org.eclipse.jubula.client.core.databaseVersionErrorHandler.exsd"/>
   <extension-point id="org.eclipse.jubula.client.core.functions" name="Jubula Functions" schema="schema/org.eclipse.jubula.client.core.functions.exsd"/>
   <extension-point id="org.eclipse.jubula.client.core.exporter.testresult" name="Test Result Exporter" schema="schema/org.eclipse.jubula.client.core.exporter.testresult.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.jubula.client.core.preferences.database.DatabaseConnectionInitializer">
      </initializer>
   </extension>
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      class="org.eclipse.jubula.client.core.propertytester.NodePropertyTester"
      id="org.eclipse.jubula.client.core.propertytester.NodePropertyTester"
      namespace="org.eclipse.jubula.client.core.model"
      properties="isEditable, hasTaskId, isRootContainer"
      type="org.eclipse.jubula.client.core.model.IPersistentObject" />
      </extension>
</plugin>
