<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2004, 2010 BREDEX GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jubula.client.views"
            class="org.eclipse.jubula.client.inspector.ui.views.InspectorView"
            icon="icons/inspector.png"
            id="org.eclipse.jubula.client.inspector.views.inspectorView"
            name="Inspector"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.inspector.ui.commands.activateInspector"
            name="Activate Inspector">
         <state
               id="org.eclipse.jubula.client.inspector.ui.commands.state.activateInspector.isActive">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="default"
                     value="false">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
         <commandParameter
               id="org.eclipse.jubula.client.inspector.ui.commands.parameter.activateInspector.autId"
               name="AUT"
               optional="false"
               typeId="org.eclipse.jubula.client.ui.rcp.commands.parametertypes.autId">
         </commandParameter>
      </command>
      <command
            categoryId="org.eclipse.jubula.client.ui.commands"
            id="org.eclipse.jubula.client.inspector.ui.commands.copyHierarchy"
            name="Copy Hierarchy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.jubula.client.inspector.ui.handlers.ActivateInspectorHandler"
            commandId="org.eclipse.jubula.client.inspector.ui.commands.activateInspector">
         <enabledWhen>
            <and>
               <with
                     variable="org.eclipse.jubula.client.inspector.ui.variable.inspectableAuts">
                  <count
                        value="+">
                  </count>
               </with>
               <with
                     variable="org.eclipse.jubula.client.inspector.ui.variable.isInspectorActive">
                  <equals
                        value="false">
                  </equals>
               </with>
               <with
                     variable="org.eclipse.jubula.client.ui.rcp.variable.autConnectionStatus">
                  <equals
                        value="Disconnected">
                  </equals>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.jubula.client.inspector.ui.handlers.InspectorCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.jubula.client.inspector.views.inspectorView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.jubula.client.inspector.ui.handlers.CopyHierarchyHandler"
            commandId="org.eclipse.jubula.client.inspector.ui.commands.copyHierarchy">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.jubula.client.inspector.views.inspectorView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.jubula.client.inspector.views.inspectorView">
         <command
               commandId="org.eclipse.jubula.client.inspector.ui.commands.activateInspector"
               id="org.eclipse.jubula.client.inspector.ui.inspectorView.toolbar.activateInspector"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jubula.client.inspector.views.inspectorView">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.jubula.client.inspector.ui.commands.copyHierarchy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.eclipse.jubula.client.inspector.ui.inspectorView.toolbar">
         <control
               class="org.eclipse.jubula.client.inspector.ui.contribution.InspectorActiveIndicator">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.jubula.client.inspector.ui.variable.isInspectorActive">
                  <equals
                        value="true">
                  </equals>
               </with>
            </visibleWhen>
         </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.jubula.client.inspector.ui.inspectorView.toolbar.activateInspector">
         <dynamic
               class="org.eclipse.jubula.client.inspector.ui.contribution.ActivateInspectorContributionItem"
               id="org.eclipse.jubula.client.inspector.ui.inspectorView.toolbar.activateInspector.dropdown">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.jubula.client.inspector.ui.provider.sourceprovider.InspectorStateProvider">
         <variable
               name="org.eclipse.jubula.client.inspector.ui.variable.isInspectorActive"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="org.eclipse.jubula.client.inspector.ui.provider.sourceprovider.InspectableAutSourceProvider">
         <variable
               name="org.eclipse.jubula.client.inspector.ui.variable.inspectableAuts"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.jubula.client.inspector.ui.commands.activateInspector"
            icon="icons/inspector.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jubula.client.ui.rcp.perspectives.SpecificationPerspective">
         <viewShortcut
               id="org.eclipse.jubula.client.inspector.views.inspectorView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jubula.client.ui.rcp.perspectives.ExecutionPerspective">
         <viewShortcut
               id="org.eclipse.jubula.client.inspector.views.inspectorView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
