/target
/content/tocUserManual.xml
/content/contextUserManual.xml
/content/tocDeveloperManual.xml
/content/contextDeveloperManual.xml
/content/html/userManual
/content/html/developerManual
/content/html/releasenotes
/content/html/install