/target
/tocUserManual.xml
/contextUserManual.xml
/tocDeveloperManual.xml
/contextDeveloperManual.xml
/html/userManual
/html/developerManual
/html/releaseNotes
/html/installationManual
/html/referenceManual